<% layout("/layouts/boilerplate") %>

<div class="container mt-5">

<div class="alert alert-danger">

<h3>Error</h3>

<p>
<%= message %>
</p>

<!-- <a
href="/listings/new"
class="btn btn-dark">
Create Again

</a> -->
<button
onclick="history.back()"
class="btn btn-dark">

Go Back

</button>

</div>

</div>